html, body {
  margin: 0;
  padding: 0;
}

a, a:hover, a:visited {
  text-decoration: none !important;
  color: inherit !important;
}

header.contact {
  background-color: $red;
  color: white;
  font-size: 18px;
  line-height: 40px;

  .quote {
    background-color: $darkblue;
    display: inline-block;
    text-transform: uppercase;
    font-style: italic;
    padding: 0 42px;
  }

  .phone {
    font-size: 23px;

    span {
      background-color: white;
      color: $red;
      height: 20px;
      font-size: 16px;
      vertical-align: top;
      border-radius: 5px;
      padding: 0 3px;
    }
  }
}

header.navigation {
  #menu-navigation-menu {
    min-width: 376px;
  }

  .social-icons {
    a {
      margin: 2px;
    }
  }
}

footer.top-footer {
  background-color: $blue;
  color: $lightblue;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

footer.navigation {
  background-color: $darkblue;
  color: white;

  a {
    color: white;
  }

  .social-icons {
    font-size: 24px;
    color: $lightblue;

    a {
      margin: 4px;
    }
  }
}

.waves {
  > div {
    min-height: 60px;
  }

  .blue {
    background-color: $darkblue;
  }

  .gray {
    background-color: $gray;
  }
}

.stripe {
  .row {
    min-height: 400px;
  }

  .text {
    p {
      max-width: 400px;
    }
  }

  .image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    img {
      max-height: 450px;
    }
  }
}

.stripe.red {
  background-color: $red;
  color: white;
}

.stripe.darkblue {
  background-color: $darkblue;
  color: white;
}

.stripe.blue {
  background-color: $blue;
}

.stripe.lightblue {
  background-color: $lightblue;
}

.stripe.gray {
  background-color: $gray;
}

.stripe.darkgray {
  background-color: $darkgray;
  color: white;
}
